{% extends 'base.html' %}
{% block content %}

   <div style=" color:darkslategray; width:100%;background-color: black">
       <h1 style="color:white;text-align: center">SERVICES OFFERED</h1>
       <br>
       <br>

       <div style="width:35%;float:left;margin-left: 100px" >
         <table >
          <tr>
              <td>
               <p style=" text-align:center">
                      <h1>BOOKING<br>SERVICES</h1><br>
                   Booking rental cars is effortless and <br>
                  convenient,
                  offering a seamless process for<br> securing
                  temporary
                  transportation. Choose from<br> a diverse fleet
                  of vehicles and enjoy<br>
                  flexible rental options tailored to<br> your specific needs.</p>
                  <br>
              </td>
          </tr>
         </table>
       </div>

        <div style="width:35%;float: left" >
         <table >
          <tr>
              <td>
               <p style=" text-align:center">
                      <h1>HIRING<br>SERVICES</h1><br>

                  Car rental services
                  offer flexible<br> solutions for short-term<br> transportation needs,
                  providing a range<br> of vehicles from<br> compact cars to SUVs.
                  Enjoy convenience <br>and freedom without the commitment of ownership.</p>
                  <br>
              </td>
          </tr>
         </table>
       </div>

   </div>
   <div>
       <h1>Support</h1><br>
       <h3>0716608066</h3>
       <h3>info@Carlix.org</h3>
       <h3>Platinum XVEX,Sports Road,Westlands,Near<br>
                       Delta,Nairobi</h3>
   </div>
{% endblock %}